@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root {
	--color1: #1b262c;
	--color2: #0f4c75;
	--color3: #3282b8;
	--color4: #bbe1fa;
	--font1: "IBM Plex Mono", monospace;
	--font2: "Montserrat", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color2);
	display: flex;
	justify-content: center;
	font-family: var(--font1);
	color: var(--color1);
}

main {
	width: 80%;
	max-width: 700px;
}

main > * {
	background-color: var(--color4);
	padding: 20px;
	margin: 20px auto;
	border-radius: 10px;
}

p {
	margin: 0 auto;
}

i {
	transition: transform 0.5s ease;
}

i:hover {
	transform: translateX(5px);
}

#subject {
	text-align: center;
	background-color: var(--color1);
	box-shadow: 0 0 10px 5px var(--color3);
}

#subject h1,
#subject p {
	color: var(--color3);
}

#subject h3 {
	font-family: var(--font2);
	color: var(--color4);
}

#subject p {
	transition: transform 0.3s ease;
	font-style: italic;
	font-weight: bold;
}

#subject p:hover {
	transform: scale(1.1);
}

#introduction > h2 {
	color: var(--color2);
}

#introduction > p:first-of-type {
	font-family: var(--color2);
	text-align: center;
	margin: 10px 0;
}

#name > label {
	font-weight: bold;
	font-size: 1.2em;
	color: var(--color2);
}

#name-input {
	margin: 10px 0;
	width: 80%;
	max-width: 300px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

form > h2 {
	text-align: center;
	color: var(--color2);
}

form > fieldset {
	border-top: 5px solid var(--color2);
}

form > fieldset > legend {
	font-weight: bold;
	font-size: 1.2em;
	color: var(--color2);
	margin-top: 10px;
}

form > fieldset > * {
	display: block;
	margin: 5px 0;
}

.explanation {
	color: var(--color3);
	font-weight: bold;
}

#memory {
	background-color: var(--color1);
	color: var(--color4);
}

#memory > h4 {
	color: var(--color3);
}

#memory > p {
	font-family: var(--font2);
}

#memory > input {
	margin: 10px auto;
	position: relative;
	transform: translate(-50%, 0);
	left: 50%;
	font-weight: bold;
}

#submit {
	width: 100%;
	font-weight: bold;
	font-size: 2rem;
	margin: 10px 0;
}

.result {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	place-items: center;
	font-size: 1.2rem;
	height: 200px;
	width: 600px;
	background-color: var(--color1);
	color: var(--color4);
	text-align: center;
	visibility: hidden;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px 5px var(--color4);
}

#result-successful {
	color: green;
}

#result-failed {
	color: red;
}

button {
	font-family: var(--font2);
}

.result > p {
	color: var(--color4);
}
